@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.cajaForm > * {
    padding: 1em;
}

.h1-contact{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

.formulario {
    background: #ff4848;
}

.formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario form label {
    display: block;
}

.formulario form p {
    margin: 0;
    padding: 1em;
}

.formulario form .block {
    grid-column: 1 / 3;
}

.formulario form button,
.formulario form input,
.formulario form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #ffa5a5;
}

.formulario form button {
    background: #ffa5a5;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.formulario form button:hover,
.formulario form button:focus {
    background: #443030;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* INFO DE CONTACTO */

.contactInfo {
    background: rgb(63, 62, 62);
}

.contactInfo h2, .contactInfo h3, .contactInfo ul, .contactInfo p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: whitesmoke;
}

.datoInfo{
    font-family: 'Ovo', serif;
}

.moreInfo{
    font-family: 'Ovo', serif;
    padding-left: 10px;
}


@media(min-width: 700px) {
    .cajaForm {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contactInfo h2,
    .contactInfo h3,
    .contactInfo ul,
    .contactInfo p {
        text-align: left;
    }
}