/*GRID*/


.contGaleria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.25rem;
    grid-gap: 0.6rem;
}

.imgGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemGaleria:nth-child(1){
    grid-column-start: span 2;
}

.itemGaleria-catalogue:nth-child(1){
    grid-row-start: span 2;
}

.cajaTexto-advertising{
    grid-column-start: span 2;
}


/*QUERIES*/


@media (min-width:768px){
    .contGaleria{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1024px){
    .contGaleria{
        grid-template-columns: repeat(4, 1fr);
    }
}

