/*GRID*/


.contGaleria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.25rem;
    grid-gap: 0.6rem;
}

.imgGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemGaleria:nth-child(1){
    grid-column-start: span 2;
}

.cajaTexto-advertising{
    grid-column-start: span 2;
}

.cajaTexto-fashion{
    grid-column-start: span 2;
}

.cajaTexto-galeria{
    grid-column-start: span 2;
}

.cajaTexto-catalogue{
    grid-column-start: span 2;
}


/*QUERIES*/


@media (min-width:768px){
    .contGaleria{
        grid-template-areas: 
        "titulo titulo titulo"
        "foto1 foto2 foto3 "
        "texto texto texto"
        "foto4 foto5 foto6"
        "foto7 foto8 foto9"
        "foto10 foto11 foto12"
        "foto13 foto14 foto15"
        "foto16 foto17 foto18"
        "foto19 foto20 foto21"
        "foto22 foto23 foto24"
        "foto25 foto26 foto27"
        "foto28 . .";
        grid-template-columns: 1fr 1fr 1fr;   
    }
    #titulo{
        grid-area: titulo;
    }
    #texto{
        grid-area: texto;
    }
    #foto1{
        grid-area: foto1;
    }
    #foto2{
        grid-area: foto2;
    }
    #foto3{
        grid-area: foto3;
    }
    #foto4{
        grid-area: foto4;
    }
    #foto5{
        grid-area: foto5;
    }
    #foto6{
        grid-area: foto6;
    }
    #foto7{
        grid-area: foto7;
    }
    #foto8{
        grid-area: foto8;
    }
    #foto9{
        grid-area: foto9;
    }
    #foto10{
        grid-area: foto10;
    }
    #foto11{
        grid-area: foto11;
    }
    #foto12{
        grid-area: foto12;
    }
    #foto13{
        grid-area: foto13;
    }
    #foto14{
        grid-area: foto14;
    }
    #foto15{
        grid-area: foto15;
    }
    #foto16{
        grid-area: foto16;
    }
    #foto17{
        grid-area: foto17;
    }
    #foto18{
        grid-area: foto18;
    }
    #foto19{
        grid-area: foto19;
    }
    #foto20{
        grid-area: foto20;
    }
    #foto21{
        grid-area: foto21;
    }
    #foto22{
        grid-area: foto22;
    }
    #foto23{
        grid-area: foto23;
    }
    #foto24{
        grid-area: foto24;
    }
    #foto25{
        grid-area: foto25;
    }
    #foto26{
        grid-area: foto26;
    }
    #foto27{
        grid-area: foto27;
    }
    #foto28{
        grid-area: foto28;
    }
}

@media (min-width:1024px){
    .contGaleria{
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "foto1 foto2 foto3 foto4"
        "texto texto texto texto"
        "foto5 foto6 foto7 foto8"
        "foto9 foto10 foto11 foto12"
        "foto13 foto14 foto15 foto16"
        "foto17 foto18 foto19 foto20"
        "foto21 foto22 foto23 foto24"
        "foto25 foto26 foto27 foto28";
        grid-template-columns: 1fr 1fr 1fr 1fr;   
    }
    #titulo{
        grid-area: titulo;
    }
    #texto{
        grid-area: texto;
    }
    #foto1{
        grid-area: foto1;
    }
    #foto2{
        grid-area: foto2;
    }
    #foto3{
        grid-area: foto3;
    }
    #foto4{
        grid-area: foto4;
    }
    #foto5{
        grid-area: foto5;
    }
    #foto6{
        grid-area: foto6;
    }
    #foto7{
        grid-area: foto7;
    }
    #foto8{
        grid-area: foto8;
    }
    #foto9{
        grid-area: foto9;
    }
    #foto10{
        grid-area: foto10;
    }
    #foto11{
        grid-area: foto11;
    }
    #foto12{
        grid-area: foto12;
    }
    #foto13{
        grid-area: foto13;
    }
    #foto14{
        grid-area: foto14;
    }
    #foto15{
        grid-area: foto15;
    }
    #foto16{
        grid-area: foto16;
    }
    #foto17{
        grid-area: foto17;
    }
    #foto18{
        grid-area: foto18;
    }
    #foto19{
        grid-area: foto19;
    }
    #foto20{
        grid-area: foto20;
    }
    #foto21{
        grid-area: foto21;
    }
    #foto22{
        grid-area: foto22;
    }
    #foto23{
        grid-area: foto23;
    }
    #foto24{
        grid-area: foto24;
    }
    #foto25{
        grid-area: foto25;
    }
    #foto26{
        grid-area: foto26;
    }
    #foto27{
        grid-area: foto27;
    }
    #foto28{
        grid-area: foto28;
    }
}

@media (min-width:1200px){
    .contGaleria{
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "foto1 foto2 foto3 foto4"
        "texto texto texto texto"
        "foto5 foto6 foto7 foto8"
        "foto9 foto10 foto11 foto12"
        "foto13 foto14 foto15 foto16"
        "foto17 foto18 foto19 foto20"
        "foto21 foto22 foto23 foto24"
        "foto25 foto26 foto27 foto28";
        grid-template-columns: 1fr 1fr 1fr 1fr;   
    }
    #titulo{
        grid-area: titulo;
    }
    #texto{
        grid-area: texto;
    }
    #foto1{
        grid-area: foto1;
    }
    #foto2{
        grid-area: foto2;
    }
    #foto3{
        grid-area: foto3;
    }
    #foto4{
        grid-area: foto4;
    }
    #foto5{
        grid-area: foto5;
    }
    #foto6{
        grid-area: foto6;
    }
    #foto7{
        grid-area: foto7;
    }
    #foto8{
        grid-area: foto8;
    }
    #foto9{
        grid-area: foto9;
    }
    #foto10{
        grid-area: foto10;
    }
    #foto11{
        grid-area: foto11;
    }
    #foto12{
        grid-area: foto12;
    }
    #foto13{
        grid-area: foto13;
    }
    #foto14{
        grid-area: foto14;
    }
    #foto15{
        grid-area: foto15;
    }
    #foto16{
        grid-area: foto16;
    }
    #foto17{
        grid-area: foto17;
    }
    #foto18{
        grid-area: foto18;
    }
    #foto19{
        grid-area: foto19;
    }
    #foto20{
        grid-area: foto20;
    }
    #foto21{
        grid-area: foto21;
    }
    #foto22{
        grid-area: foto22;
    }
    #foto23{
        grid-area: foto23;
    }
    #foto24{
        grid-area: foto24;
    }
    #foto25{
        grid-area: foto25;
    }
    #foto26{
        grid-area: foto26;
    }
    #foto27{
        grid-area: foto27;
    }
    #foto28{
        grid-area: foto28;
    }
}