/*FASHION*/

.cajaTexto-fashion{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria-fashion{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria-fashion, .textoGaleria-fashion2{
    font-size: 2.8vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 4vw 4vw 0vw 4vw;
    color: white;
}


/*BEAUTY*/

.cajaTexto-galeria{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria, .textoGaleria2{
    font-size: 2.8vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 0 3.5vw 0 3.5vw;
    color: white;    
}


/*ADVERTISING*/

.cajaTexto-advertising{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria-advertising{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria-advertising{
    font-size: 2.8vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 4vw 4vw 4vw 4vw;
    color: white;
}


/*CATALOGUE*/

.cajaTexto-catalogue{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria-catalogue{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    padding-left: 1.3vw;
    text-align: center;
    font-size: 8.5vw;
    padding-right: 10px;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria-catalogue{
    font-size: 2.8vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 4vw 4vw 0vw 4vw;
    color: white;
}

.textoGaleria-catalogue2{
    font-size: 2.8vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 0vw 4vw 4vw 4vw;
    color: white;
}


/*QUERIES*/


@media (min-width:768px){
    .textoGaleria{
        padding-top: 2rem;
        font-size: 1.6vh;
    }
    .textoGaleria2{
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
    .textoGaleria-fashion{
        padding-top: 2rem;
        font-size: 1.6vh;
    }
    .textoGaleria-fashion2{
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
    .textoGaleria-advertising{
        padding-top: 2rem;
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
    .textoGaleria-catalogue{
        padding-top: 2rem;
        font-size: 1.6vh;
    }
    .textoGaleria-catalogue2{
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
}

