/*FASHION*/

.cajaTexto-fashion{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria-fashion{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    text-align: center;
    font-size: 6vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria-fashion, .textoGaleria-fashion2{
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 4vw 4vw 0vw 4vw;
    color: white;
}


/*BEAUTY*/

.cajaTexto-galeria{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria, .textoGaleria2{
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 2vh 3.5vw 0 3.5vw;
    color: white;    
}


/*ADVERTISING*/

.cajaTexto-advertising{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria-advertising{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria-advertising{
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 4vw 4vw 4vw 4vw;
    color: white;
}


/*CATALOGUE*/

.cajaTexto-catalogue{
    display: grid;
    align-content: center;
    background-color: rgb(78, 78, 78);
    border-radius: 2.5px;
}

.tituloGaleria-catalogue{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-bottom: 0.1vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.textoGaleria-catalogue{
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 4vw 4vw 0vw 4vw;
    color: white;
}

.textoGaleria-catalogue2{
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: justify;
    padding: 0vw 4vw 4vw 4vw;
    color: white;
}

/*ABOUT*/

.titulo-about{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-top: 2vh;
    padding-bottom: 0.5vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.h1-contact{
    font-family: 'ovo';
    text-transform: uppercase;
    color: rgb(231, 154, 154);
    padding-top: 4vh;
    padding-bottom: 3.5vh;
    text-align: center;
    font-size: 8.5vw;
    text-shadow: 1px 1px 1px #b9a7a7;
}

.texto-about1,
.texto-about2,
.texto-about3{
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: justify;
    padding-right: 6vw;
    padding-left: 6vw;
    color: rgb(231, 154, 154);  
}

.texto-about1{
    padding-top: 2vh;
}



/*QUERIES*/


@media (min-width:768px){
    .textoGaleria{
        padding-top: 2rem;
        font-size: 1.6vh;
    }
    .textoGaleria2{
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
    .textoGaleria-fashion{
        padding-top: 2rem;
        font-size: 1.6vh;
    }
    .textoGaleria-fashion2{
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
    .textoGaleria-advertising{
        padding-top: 2rem;
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
    .textoGaleria-catalogue{
        padding-top: 2rem;
        font-size: 1.6vh;
    }
    .textoGaleria-catalogue2{
        padding-bottom: 1.8rem;
        font-size: 1.6vh;
    }
    .tituloGaleria-fashion,
    .tituloGaleria,
    .tituloGaleria-advertising,
    .tituloGaleria-catalogue,
    .h1-contact{
        font-size: 5vw;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    .titulo-about{
        font-size: 5vw;
        padding-top: 3rem;
        padding-bottom: 2.5rem;
    }
    .texto-about1,
    .texto-about2,
    .texto-about3{
        font-size: 2vw;
        letter-spacing: 1px;
        text-align: justify;
        padding-right: 6vw;
        padding-left: 6vw;
        padding-bottom: 3vh;
        color: rgb(231, 154, 154);  
    }
}

@media (min-width:1024px){
    .tituloGaleria-fashion,
    .tituloGaleria,
    .tituloGaleria-advertising,
    .tituloGaleria-catalogue,
    .titulo-about,
    .h1-contact{
        font-size: 4.5vw;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    .texto-about1,
    .texto-about2,
    .texto-about3{
        font-size: 1.1vw;
        letter-spacing: 1px;
        text-align: justify;
        padding-right: 6vw;
        padding-left: 6vw;
        color: rgb(231, 154, 154);  
    }
}

